In [100]:
import requests, json, datetime, pandas as pd

In [59]:
token_url = "http://mosrepora02.evropolis.ru:8080/ords/wks01/oauth/token"
test_api_url = "http://mosrepora02.evropolis.ru:8080/ords/wks01/api/"

In [66]:
users = {
    'che': {
            'id': '-ZZ0ru0pMDfTNg-DHXI3VQ..',
            'secret': 'hebPXNQjEW5YDefvjc2J9A..'
        },
    'banki': {
            'id': 'Wute9o2Y7k24GBF0-L-ABg..',
            'secret': 'ZovEIGLI5-iBKqT9rgfuRQ..'
        }    
    }

users['che']['id']

'-ZZ0ru0pMDfTNg-DHXI3VQ..'

In [41]:
def GetToken(user):
    data = {'grant_type': 'client_credentials'}
    client_id = users[user]['id']
    client_secret = users[user]['secret']

    access_token_response = requests.post(token_url, data=data, verify=False, allow_redirects=False, auth=(client_id, client_secret))

#     print (access_token_response.headers)
#     print (access_token_response.text)

    tokens = json.loads(access_token_response.text)
    return tokens['access_token']

In [115]:
class apirequest():
    """docstring"""
    def __init__(self, user):
        self.token = GetToken(user)
        
    def getsubject(self, subjisn):
        resp = []
        timebeg = datetime.datetime.now()
        api_call_headers = {'Authorization': 'Bearer ' + self.token}
        api_call_response = requests.get(test_api_url + 'subject/' + str(subjisn), headers=api_call_headers, verify=False)
        subject = json.loads(api_call_response.text)
        timeend = datetime.datetime.now()
        
        resp.append(api_call_response.status_code)
        resp.append((timeend - timebeg).microseconds/1000)
        resp.append(json.loads(api_call_response.text))
        return resp

In [128]:
api = apirequest('che')
api.getsubject(445903407)

[200,
 405.941,
 {'status': {'code': 'success', 'message': None},
  'result': {'data': {'id': 445903407,
    'lastname': 'Бочкарев',
    'firstname': 'Сергей',
    'parentname': 'Олегович',
    'sex': 'М',
    'birthday': '1988-07-03T00:00:00',
    'latinname': None,
    'drivingdatebeg': None,
    'citizenship': 'RUS',
    'address': [{'code': 2246,
      'code_desc': 'Регистрация',
      'text': 'Кемеровская Область Ленинск-Кузнецкий Город Пушкина',
      'street_kladr_id': None}],
    'contact': [{'code': 2243,
      'code_desc': 'E-mail личный',
      'text': 'Sergeyolegovichbocha@gmail.ru'}],
    'document': [{'code': 1165,
      'code_desc': 'Паспорт гражданина России',
      'series': '3208',
      'number': '541439',
      'issue_date': '2008-07-22T00:00:00',
      'issue_by': 'Отделением #1 ОУФМС России по Кемеровской областии в гор. Ленинске-Кузнецком'}]}}}]

In [116]:
test_users = [445903407, 445903412, 445903414]

In [130]:
results = pd.DataFrame(columns = ['user', 
                                  'resp_time_ms',
                                  'resp_status_code',
                                  'resp_status_name',
                                  'resp_status_error',
                                  'subject_isn'])
results

Empty DataFrame
Columns: [user, resp_time_ms, resp_status_code, resp_status_name, resp_status_error, subject_isn]
Index: []

In [131]:
n=0
for user in users.keys():
    api = apirequest(user)
    for isn in test_users:
        resp = api.getsubject(isn)
        results.loc[n] = {'user': user, 
                          'resp_time_ms': resp[1], 
                          'resp_status_code': resp[0], 
                          'resp_status_name': resp[2]['status']['code'], 
                          'resp_status_error': resp[2]['status']['message'], 
                          'subject_isn': isn}
        n += 1
        #print(resp[0:2])

In [132]:
results

,user,resp_time_ms,resp_status_code,resp_status_name,resp_status_error,subject_isn
0,che,660.227,200,success,None,445903407
1,che,442.125,200,success,None,445903412
2,che,358.076,200,success,None,445903414
3,banki,417.876,200,success,None,445903407
4,banki,411.895,200,success,None,445903412
5,banki,512.661,200,success,None,445903414

In [127]:
results.agg({'resp_time_ms':['count', 'min', 'max', 'median', 'mean']})

        resp_time_ms
count       6.000000
min        85.049000
max       933.422000
median    117.948500
mean      352.150833